:80 {
    root * /app/public
    file_server
    php_fastcgi app:9000

    # Sécurité basique
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
}
