name: CI/CD Build & Deploy

on:
  push:
    branches:
      - prod

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: dbouraoui/kernellab:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code (pour récupérer le compose et caddyfile)
        uses: actions/checkout@v4

      - name: Copy config files to VPS (uniquement les fichiers nécessaires)
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "compose.prod.yml,caddy/prod/Caddyfile"
          target: "~/mon-app"

      - name: Deploy to Docker Swarm
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/mon-app
            # On force le téléchargement de la nouvelle image fraîchement buildée
            docker pull dbouraoui/kernellab:latest
            docker stack rm kernellab

            echo "Waiting for services to stop..."
            while docker ps --filter "name=kernellab" --format '{{.ID}}' | grep -q .; do
            sleep 2
            done

            docker volume rm kernellab_public_web || true
            # On déploie
            docker stack deploy -c compose.prod.yml kernellab --with-registry-auth
